body {
  padding: 10px;
  font-family: sans-serif;
}
.backColor{
	background-color: 
}
.uColor{
	font-size: 1.5rem;
	color: green;
}
.dColor{
	font-size: 1.5rem;
	color: red;
}
.tColor{
	font-size: 2rem;
	color: purple;
}
.uniform{
	height: 300px;
}
.placeHolder{
	padding: 10px;
	width: 300px;
	height: 300px;}
.editHolder{
	width: 300px;
	height: 300px;
	margin-left:80px ;
}
.viewHolder{
	width: 350px;
	height:350px;
}
#viewTitle{
	font-size: 2.5rem;
}
.thumbedits{
	padding-right: 1rem;
}
