body {
  padding: 10px;
  font-family: sans-serif;
}
.uColor{
	font-size: 1.5rem;
	color: grey;
}
.dColor{
	font-size: 1.5rem;
	color: grey;
}
.tColor{
	font-size: 2rem;
	color: red;
}
.uniform{
	height: 300px;
	width:250;
}
.placeHolder{
	padding: 10px;
}
.editHolder{
	width: 300px;
	height: 300px;
	margin-left:80px ;
}
.veiwHolder{
	width: 100%;
	
}